<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Book Notes</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar">
            <a href="/">
                <img src="assets/book_icon.png" alt="logo" class="logo">
            </a>
            <form action="/categorie" method="post" class="form-categories">
                <button class="categorie" value="all">All</button>
                <button class="categorie" value="finance">Finance</button>
                <button class="categorie" value="business">Business</button>
            </form>

            <div class="profile-container">
                <button class="profile-picture" onclick="toggleDropdown()">Y</button>
                <div class="dropdown-menu">
                    <form action="/user" method="post">
                        <button type="submit" name="user" value="1">Y</button>
                        <button type="submit" name="user" value="add">Add User</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>