<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Book Notes</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar">
            <a href="/">
                <img src="assets/book_icon.png" alt="logo" class="logo">
            </a>
            <form action="/category" method="post" class="form-categories">
                <button type="submit" class="category" value="all">All</button>
                <button type="submit" class="category" value="finance">Finance</button>
                <button type="submit" class="category" value="business">Business</button>
            </form>

            <div class="profile-container">
                <button class="profile-picture" onclick="toggleDropdown()">Y</button>
                <div class="dropdown-menu">
                    <form action="/user" method="post">
                        <button type="submit" name="user" value="1">Y</button>
                        <button type="submit" name="user" value="add">Add User</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="grid-container">
            <form action="/add-book" method="post">
                <button type="submit" class="add-book">
                    <img src="assets/plus-icon.png" alt="plus icon" class="plus-icon">
                </button>
            </form>

            <form action="/book/1" method="get">
                <button type="submit" class="book">
                    <img src="assets/think-and-grow-rich.jpg" alt="book cover" class="book-cover">
                </button>
            </form>

            <form action="/book/1" method="get">
                <button type="submit" class="book">
                    <img src="assets/think-and-grow-rich.jpg" alt="book cover" class="book-cover">
                </button>
            </form>

            <form action="/book/1" method="get">
                <button type="submit" class="book">
                    <img src="assets/think-and-grow-rich.jpg" alt="book cover" class="book-cover">
                </button>
            </form>

            <form action="/book/1" method="get">
                <button type="submit" class="book">
                    <img src="assets/think-and-grow-rich.jpg" alt="book cover" class="book-cover">
                </button>
            </form>

            <form action="/book/1" method="get">
                <button type="submit" class="book">
                    <img src="assets/think-and-grow-rich.jpg" alt="book cover" class="book-cover">
                </button>
            </form>

            <form action="/book/1" method="get">
                <button type="submit" class="book">
                    <img src="assets/think-and-grow-rich.jpg" alt="book cover" class="book-cover">
                </button>
            </form>
        </div>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>