* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0 120px;
}

a {
    margin: 0;
}

.navbar {
    margin-top: 20px;
    /* border: 1px solid; */
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 50px;
}

form {
    margin: 0;
    padding: 0;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 5px;
}

.category {
    width: 150px;
    background-color: white;
    border-radius: 999px;
    margin: 0 10px;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    transition: background-color .3s;
}

.category:hover {
    background-color: #FFCE33;
}

.form-categories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.profile-container {
    position: relative;
    margin-left: auto;
}

.profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #FFCE33;
    font-size: 30px;
    margin-left: auto;
    cursor: pointer;
    transition: background-color .3s;
}

.profile-picture:hover {
    background-color: #eec028;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #FFCE33;
    /* border: 1px solid black; */
    border-radius: 30px;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 15px;
}

.dropdown-menu button {
    border-radius: 15px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu button {
    background-color: #FFCE33;
    border: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-menu button:hover {
    background-color: #eec028;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px 10px; 
    margin-top: 50px;
    /* border: 1px solid black; */
    padding-left: 50px;
    width: 100%;
    height: auto;
}

.add-book {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color .2s;
}

.plus-icon {
    width: 50px;
    height: 50px;
}

.add-book:hover {
    background-color: #FFCE33;
    transition: background-color .5s;
}

.book {
    /* border: 1px solid black; */
    width: 200px;
    height: 300px;
    cursor: pointer;
    border: none;
}

.book img {
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.book img:hover {
    transform: scale(1.1);
}

.book-cover {
    width: 200px;
    height: 300px;
}