* {
    margin: 0 60px;
    padding: 0;
}

a {
    margin: 0;
}

.navbar {
    margin-top: 20px;
    /* border: 1px solid; */
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 50px;
}

form {
    margin: 0;
    padding: 0;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 5px;
}

.categorie {
    width: 150px;
    background-color: white;
    border-radius: 999px;
    margin: 0 10px;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
}

.categorie:hover {
    background-color: rgb(236, 236, 236);
}

.form-categories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.profile-container {
    position: relative;
    margin-left: auto;
}

.profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #FFCE33;
    font-size: 30px;
    margin-left: auto;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 15px;
}

.dropdown-menu button {
    border-radius: 15px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu button {
    background-color: white;
    border: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-menu button:hover {
    background-color: rgb(236, 236, 236);
}